/*
--------------------------------------------------------------
0.General
1.Headboard
2.Search
3.Rounded images
4.Slider
5.Formularios
6.Footer
--------------------------------------------------------------
*/

/*0. General */


/*1. Headboard*/
.header h1 {
    color:DodgerBlue;
    font-family:'Bitter', serif;
    font-weight:600;
    text-align:center;
}

.logo{
    margin-left:1.5em;
    margin-right:18em;
}
.title{
    margin-top:2em;
    text-align:center;
}
.menu-navbar{
    margin-top:1em;
    margin-bottom:1em; 
    margin-right:1em;
}
.menu-navbar a{   
    font-weight:700
}

/*2. Search*/
.search{
    text-align:center;
    background-image: url(../../img/puesta.jpg); 
    height:28em;
}    
.title-search{
    text-align:center; 
    height:5em;
    text-decoration-color:white;
}
.form-search{
    margin-top:3.1em;
    font-weight: bold;
}


/*3. Rounded images*/
.featured-container{
    margin-top: 2em; 
    margin-bottom:2em;
}

.featured-article img{
    border-radius: 40%;
    margin-bottom: 2em;
}

.featured-article p{
    font-style: italic;
    text-align: justify;
}

/*4. Slider*/
.slider{
background-image: url(../../img/fondogastro.jpg);
width:100%; 
height:100%; 
}
.slider h1{
    color: purple;
    text-align: center;
    margin-top:0.5em;
}
.slider img{
    margin-top:1em;
    margin-bottom:2em;
}
.slider-article{
    font-style: italic;
    text-align: justify;
    padding: center;
    margin:auto;
}

/*5. Fomrularios verificacion*/
.errors-container{
    background-color: hsl(0, 55%, 66%);
    border: 0.1em solid hsl(0, 55%, 58%);
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
    width: 100%;
}

.errors-container ul{
    margin: 1em;
}

.errors-container.hidden{
    display: none;
}

.success-container{
    background-color: hsl(138, 59%, 45%);
    border: 0.1em solid hsl(96, 75%, 33%);
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50vh;
    text-align:center;
}

.success-container h1{
    font-size: 2em;
    padding: 1em;
}

.success-container.hidden{
    display: none;
}

.input-error {
    color: hsl(0, 100%, 50%);
}
 
/*6. Pagina Contacto*/
.formulario{
    background-image:url(../../img/faro.jpg);
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid DodgerBlue;
    margin-bottom: 2em;
    margin-top: 2em;
}
#contact-form{
    margin-bottom: 2em;
}

.invalid{
    color: red;
}

.error {
    color: #FF0000;
}

/*. Tablas*/
.table {
    text-align: center;
}

.hidden {
    display: none;
}
.adduser{
    color:rgb(0, 128, 0);
    align: right;
}

.editar{
    border:none;
    text-align: center;
}

/*. Iconos de buttons*/

.btn-outline-secondary {
    border-color: #9c9c9c;
}

.btn-outline-secondary svg{/*dendro de la clase .. buscamos el svg */
    pointer-events: none;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #777676;
    border-color: #9c9c9c;
}
.btn-outline-danger {
    border-color: #dc3545;
}
.btn-outline-danger svg {
    pointer-events: none;    
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-info svg {
    pointer-events: none;    
}

/*.Side Bar*/
.controlPanel{
    font-weight: bold;
    border-bottom-color: black;
}

/*. Footer*/

.footer {
    height:10em;
    margin-top:3em;
    background-image:url(../../img/footer.jpg);
    background-position: center;
    background-size: cover;  /* La imagen de fondo se reescala cuando se cambia el ancho de ventana del navegador */
    text-align: center;
}

@media (min-width:992px) and (max-width:1400px){

}


@media (min-width:768px) and (max-width:991px){

}


@media (max-width:767px){

}


@media (max-width:479px){
    .logo{
        display:none;
    }

    .search {
        text-align:center;
        background-image: url(../../img/puesta.jpg); 
        height:47em;
    }
    .header h1 {
        color:DodgerBlue;
        font-family:'Bitter', serif;
        font-weight:100;
        font-size:1.5rem;
        text-align:center;
    }
}